.notification-dropdown {
  @include scrollbars(white, $color-grey2, $color-grey2);
}

.notifications-mark-all-as-read {
  display: flex;
  justify-content: flex-end;
  color: $color-primary;
  font-weight: 600;
  border-bottom: 1px solid $color-grey2;   
  padding-bottom: 10px;

  &:hover {
    color: $color-accent;
  }
}

.notification-message-container {
  max-height: 250px;
  overflow-y: auto;
}