$color-primary: #5C41B4;
$color-primary-light:#AC9DFF;
$color-accent: #21D9BB;
$color-blue: #64F6F0;

$color-white: #fff;

$color-grey1: #f7f7f7;
$color-grey2: #D4D1D9;
$color-grey3: #827C91;
$color-black: #1E1926;

$color-transparent:rgba(255,255,255, 0);

$color-alert:#D93C3C;
$color-normal:#9FE600;
$color-warn:#FDEE35;